
header{
            background-image: url(bg.jpg);
            height: 210px;
            }
nav{
    text-align: center;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
}

nav li a{
    display: block;
    padding: 6px;
}


}
nav a{
    float: left;
}

a {
  display: block;
  border-radius: 35%;
  padding: 8px;
  background-color: gray;
  /*background-image: url(prod4.jpeg);*/
  opacity: 70%;
  height: 35px;
  width: 50px;
 }

body{
    background-image: url(bg3.jpg);
    height: 210px;
}

#logo{
    border-radius: 50%;
}

#prodimg{
    border-radius: 35%;
}

#table2{
    text-align: center;
}

#quaninput{
    width: 30%;
}

form{
    text-align: center;
}
#order{
    width: 50%;
    height: 20%;
}
